<!doctype html>
<html lang="fr" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <title>MyTodoList</title>
        <script src="angular.min.js"></script>
        <script src="main.js"></script>
        <link href="sign.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body ng-controller="InscriptionController">
        <div id="entete">
            <center><h1><img src="img/logo.png" alt="Logo Todo">My Todo List</h1></center>
        </div>
        <center> 
            <div id="login-form">
                <h3>Inscription</h3>
                <form id="loginForm">
                    <p>
                        Login : <input type="text" id="login" required style="margin-bottom: 10px;" placeholder="Mon login" ng-model="formLogin.login">
                    </p>
                    <p>
                        Mot de passe : <input required id="password" type="password" style="margin-bottom: 10px;" ng-model="formLogin.pwd">
                    </p>
                    <button type="submit" class="btn btn-success" ng-click="createUser()">Valider l'inscription</button>
                </form>
            </div>
        </center>
        <p id="footer">
            <i>
                Projet App Web et Mobile - Polytech Marseille
                <br>
                Copyright © Geoffrey VARTAZIAN 2019
            </i>
        </p>
    </body>
</html>