<!doctype html>
<html lang="fr" ng-app="demoApp">

    <head>
        <meta charset="utf-8">
        <link rel="icon" href="icon.ico" />
        <title>VideoPlayzer</title>
        <script src="angular.min.js"></script>
        <script src="main.js"></script>
        <link href="play.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="PlayController">
        <div id="entete">
            <button ng-if="user._id" id="logout" class="btn btn-warning" ng-click="logout()">Déconnexion</button>
            <button ng-if="!user._id" id="logout" class="btn btn-success" ng-click="login()">Connexion</button>
            <center><h1><a href="/search.html"><img src="img/logo.png" alt="Logo Todo">VideoPlayzer</a></h1></center>
        </div>
        <br/> 
        <center>
            <iframe width="820" height="500" ng-src="{{trustSrc(video.embedurl)}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <b>{{video.title}}</b>
            <button ng-if="user._id" ng-click="addFav(video.id)">☆</button>
            <br>
            <i>par {{video.channelTitle}}</i> - {{video.publishedAt}}
            <br>
            {{video.description}}
            <br>
            {{video.brand}}
        </center>
        <p id="footer">
            <i>
                Projet Urbanisation et Gouvernance des SI - Polytech Marseille
                <br>
                Copyright © Geoffrey VARTAZIAN Thomas MARTINEZ 2019
            </i>
        </p>
    </body>
</html>