<!doctype html>
<html lang="fr" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <title>MyTodoList</title>
        <script src="angular.min.js"></script>
        <script src="main.js"></script>
        <link href="search.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body ng-controller="SearchController">
        <div id="entete" >
            <button id="logout" class="btn btn-warning" ng-click="logout()">Déconnexion</button>
            <center><h1><a href="/search.html"><img src="img/logo.png" alt="Logo Todo"></a>VideoPlayzer</h1></center>
        </div>
        <div id="contenu">
            <h2>Bienvenue {{user.firstname}}!</h2>
            <div id="list-form" style="position: relative; float: left;">
                <input type="button" ng-if="user._id" ng-click="showFavorite()" value="☆">
                <input type="button" ng-if="user._id" onClick="self.location.href='playlist.html'" value="➔">

            </div>
            <div id="list-form">
                <center>
                    <form>
                        <input type="text" required id="searchIn" placeholder=" Mots-clés" ng-model="formVideo.search">
                        <button type="submit" class="btn btn-success" ng-click="createList()">Recherche</button>
                        <div id="site">
                            <input type="radio" checked name="yt">Youtube
                            <input type="radio" checked name="daily">Dailymotion
                        </div>
                    </form>
                </center>
            </div>
            <div ng-if="user._id">
                <table id="favorites">
                    <tr ng-repeat="x in favoriteSet">
                        <td>
                            <img ng-click="open(x.id)" width="{{x.miniatureWidth}}" height="{{x.miniatureHeight}}" ng-src="{{x.miniatureUrl}}">
                        </td>
                        <td id="infos">
                            <a ng-click="open(x.id)"><b>{{x.title}}</b></a>
                            <br>
                            <i>par {{x.channelTitle}}</i> - {{x.publishedAt}}
                            <br>
                            {{x.description}}
                        </td>
                        <td>
                            {{x.brand}}
                        </td>
                        <td>
                            <button id="del-liste" class="btn btn-danger" ng-click="deleteFav(x.id)"> x </button>
                            <select name="playlist" id="playlistSelect" size="4" >
                                <option ng-repeat="x in playlistSet" > {{x.name}}</optionng-repeat="x in playlistSet">
                            </select>
                            <input type="button" value="Add" onclick="videoToPlaylist()">
                        </td>
                    </tr>
                    
                </table>  
            </div>
            <table id="videos">
                <tr ng-repeat="x in videoSet">
                    <td>
                        <img ng-click="open(x.id)" width="{{x.thumbnails.medium.width}}" height="{{x.thumbnails.medium.height}}" ng-src="{{x.thumbnails.medium.url}}">
                    </td>
                    <td id="infos">
                        <a ng-click="open(x.id)"><b>{{x.title}}</b></a>
                        <button ng-if="user._id" ng-click="addFav(x.id)">+</button>
                        <br>
                        <i>par {{x.channelTitle}}</i> - {{x.publishedAt}}
                        <br>
                        {{x.description}}
                    </td>
                    <td>
                        {{x.brand}}
                    </td>
                </tr>
                
            </table>  
        </div>
        <p id="footer">
            <i>
                Projet App Web et Mobile - Polytech Marseille
                <br>
                Copyright © Geoffrey VARTAZIAN 2019
            </i>
        </p>
    </body>
</html>