<!doctype html>
<html lang="fr" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <title>MyTodoList</title>
        <script src="angular.min.js"></script>
        <script src="main.js"></script>
        <link href="search.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body ng-controller="SearchController">
        <div id="entete" >
            <button ng-if="user._id" id="logout" class="btn btn-warning" ng-click="logout()">Déconnexion</button>
            <button ng-if="!user._id" id="logout" class="btn btn-success" ng-click="login()">Connexion</button>
            <center><h1><a href="/search.html"><img src="img/logo.png" alt="Logo Todo">VideoPlayzer</a></h1></center>
        </div>
        <div id="contenu">
            <h2>Bienvenue {{user.firstname}}!</h2>
            <div id="list-form" style="position: relative; float: left;">
                <input type="button" ng-if="user._id" ng-click="showFavorite()" value="☆">
                <input type="button" ng-if="user._id" onClick="self.location.href='playlist.html'" value="➔">

            </div>
            <div id="list-form">
                <center>
                    <form>
                        <input type="text" required id="searchIn" placeholder=" Mots-clés" ng-model="formVideo.search">
                        <button type="submit" class="btn btn-success" ng-click="createList()">Recherche</button>
                        <div id="site">
                            <input type="radio" checked name="yt">Youtube
                            <input type="radio" name="daily">Dailymotion
                        </div>
                    </form>
                </center>
            </div>
            <p id="warning"></p>
            <div ng-if="user._id">
                <table id="favorites">
                    <tr ng-repeat="x in favoriteSet">
                        <td>
                            <img ng-click="open(x.id)" width="{{x.miniatureWidth}}" height="{{x.miniatureHeight}}" ng-src="{{x.miniatureUrl}}">
                        </td>
                        <td id="infos">
                            <a ng-click="open(x.id)"><b>{{x.title}}</b></a>
                            <br>
                            <i>par <b>{{x.channel}}</b></i> - {{x.publishedAt}}
                            <br>
                            {{x.description}}
                        </td>
                        <td>
                            <img width="150px" height="90px" src="img/{{x.brand}}.png">
                        </td>
                        <td id="selectPlaylist" ng-if="playlistSet.length >=1">
                            <select id="select{{x._id}}" class="form-control">
                                <option ng-repeat="y in playlistSet" > {{y.name}}</option>
                            </select>
                            <input type="button" class="btn btn-primary" value="Add" ng-click="videoToPlaylist(x._id)">
                            <p id="addplaylist{{x._id}}" ng-if="user._id"></p>
                        </td>
                        <td>
                            <button id="del-liste" class="btn btn-danger" ng-click="deleteFav(x._id)"> x </button>
                        </td>
                    </tr>
                    
                </table>  
            </div>
            <table id="videos">
                <tr ng-repeat="x in videoSet">
                    <td>
                        <img ng-click="open(x.id)" width="{{x.thumbnails.medium.width}}" height="{{x.thumbnails.medium.height}}" ng-src="{{x.thumbnails.medium.url}}">
                    </td>
                    <td id="infos">
                        <a ng-click="open(x.id)"><b>{{x.title}}</b></a>
                        <button id="addfav{{x.id}}" ng-if="user._id" ng-click="addFav(x.id)">+</button>
                        <p id="fav{{x.id}}" ng-if="user._id"></p>
                        <br>
                        <i>par <b>{{x.channelTitle}}</b></i> - {{x.publishedAt}}
                        <br>
                        {{x.description}}
                    </td>
                    <td>
                        <img width="150px" height="90px" src="img/{{x.brand}}.png">
                    </td>
                </tr>
                
            </table>  
        </div>
        <p id="footer">
            <i>
                Projet Urbanisation et Gouvernance des SI - Polytech Marseille
                <br>
                Copyright © Geoffrey VARTAZIAN Thomas MARTINEZ 2019
            </i>
        </p>
    </body>
</html>